.container {
    width: 600px;
    height: 600px;
    padding: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
    grid-gap: 10px;
  }
.item{
    background-color: white;
}
#item1{
    background-color: pink;
 grid-row-start: 1;
 grid-row-end: 4;
}
#item2 {
    background-color: palevioletred;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

#item3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 7;
}

#item6 {
  grid-column-start: 4;
  grid-column-end: 7;
}
#item7 {
  background-color: pink;
}

#item8 {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 3;
}
#item9 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: palevioletred;
}

#item10 {
  grid-column-start: 5;
  grid-column-end: 8;
}
#item11 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 5;
  grid-column-end: 8;
  background-color: palevioletred;
}
#item12 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: pink;
}

#item13 {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 5;
}

#item14 {
  grid-column-start: 5;
  grid-column-end: 8;
}
